ipython~=8.12.3
ipywidgets~=8.1.1
ipywidgets==8.1.1
matplotlib==3.8.1
numpy~=1.26.4
pandas==2.0.3
pyDOE2==1.3.0
pyDOE2==1.3.0
scipy~=1.15.2
seaborn==0.13.2
Shapely==2.0.7
tensorflow==2.18.0
tensorflow_intel==2.18.0
tqdm==4.67.0
sklearnscikit-learn~=1.3.2